.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 10rem;
}

.player {
  width: 50%;
  opacity: 0.2;
  transition: opacity linear 0.2s;
  border-right: 1px solid #ccc;
}

.current {
  opacity: 1;
}

.attempts {
  display: flex;
  gap: 1rem;
  font-size: 10rem;
  color: #ccc;
}


.cheatMode {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.name {
  margin-bottom: 1rem;
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  i {
    font-size: 4rem;
    color: #ccc
  }

  .success i {
    color: green;
  }

  .fail i {
    color: red;
  }
}