.table {
  width: 100%;

  td {
    padding: 0.5rem;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #eee;
  }
}

.target {
  font-size: 1rem;
  font-weight: bold;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

$targetColor: #333;

.empty {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;

  &:before,
  &:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2rem;
    height: 2px;
    background-color: $targetColor;
  }
}

.single {
  @extend .empty;

  &:before {
    content: '';
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
}

.double {
  @extend .single;

  &:after {
    content: '';
    transform: translate(-50%, -50%) rotateZ(45deg)
  }
}

.triple {
  @extend .double;
  border-radius: 50%;
  border: 2px solid $targetColor;
}

.cheatMode {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.closed {
  color: rgba(0, 0, 0, 0.2);

  .empty {
    opacity: 0.2
  }
}

.current {
  font-weight: bold;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  min-width: 50px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  height: 50px;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 32px;
  background-color: #eee;
}

.currentScore {
  @extend .score;
}

.name {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  opacity: 0.5;

  i {
    display: none;

  }
}

.currentName {
  @extend .name;
  opacity: 1;

  i {
    display: block
  }
}

.container {
  display: flex;
  gap: 1rem;
  flex: 1
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5rem;
  margin: -1rem 0 -1rem -1rem;
  padding: 1rem;
  background-color: #f5f5f5;
}

.block {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.round {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.roundTitle {
  color: #aaa;
  font-size: 0.8rem;
}

.roundCount {
  font-size: 1.5rem;
  font-weight: bold;

  small {
    color: #aaa;
    font-weight: normal;
    font-size: 0.9rem;
  }
}

.leg {
  display: flex;
  gap: 0.5rem;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 0.6rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  color: #555;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.buttonReady {
  @extend .button;
  color: green;
}

.buttonError {
  @extend .button;
  color: red;
}