.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.attempts {
  display: flex;
  gap: 1rem;
  font-size: 10rem;
  color: #ccc;
}

.success {
  color: green;
}

.failure {
  color: red;
}